[Dd]ebug/
[Rr]elease/
.cache
*.obj
*.pdb
*.suo
*.user
*.userprefs
*.log
*.pid
*.mode
*.lock-wsl

# Visual Studio Publish Profiles
*.pubxml
*.pubxml.user

# ARM template parameters, if generated
*.arm.json

# NET Core & NuGet
[Bb]in/
[Oo]bj/
*.dgspec.json
*.g.props
*.g.targets
project.assets.json

# Ignore VS-generated service dependency files
serviceDependencies.local.json
serviceDependencies.*.json

# GitHub Copilot files
.copilot
CopilotIndices/
CodeChunks.db*
Semantic Symbols.db*

# User-specific files
.vs/
*.user
secrets.json
TestResults/
[Bb]in/
[Oo]bj/